/************************ NAVBAR ************************/

nav {
	border-bottom: 1px solid #111;
}

.navbar-default > .navbar-brand,
.navbar-default > .navbar-brand:hover {
	color: #0099ff;
}
.active {
	box-shadow: inset 0 -1px 0 #0099ff, inset 0 -2px 0 black;
}

/************************ HEADER ************************/

header {
	border-bottom: 1px solid #111;
}

h1 {
	color: #0099ff;
}

#btngroup > a {
	width: 100%;
}

/************************ TEAM ************************/

main {
	border-bottom: 1px solid #111;
}

#team {
	background-image: url("/res/img/back1.jpg");
}

h2 {
	color: #0099ff;
}

#daniel {
	background-color: rgba(34, 34, 34, 0.75);
}

#josef {
	background-color: rgba(34, 34, 34, 0.75);
}

/************************ FOOTER ************************/

footer {
	background-color: #303030;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 15px;
	right: 10px;
	z-index: 99;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
}

/************************ INFO ************************/

.carousel-caption {
	background-color: rgba(34, 34, 34, 0.75);
}

/************************ MEDIA QUERIES ************************/

@media (max-width: 576px) {
	.teampics {
		max-width: 300px;
	}
	#infoheading {
		font-size: 2em;
	}
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	#headerheading {
		font-size: 2.5em;
	}
}

@media (min-width: 992px) {
	#headerheading {
		font-size: 3em;
	}
}

@media (max-width: 1200px) {
}
